body {
  background-color: blue;
}
.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#proyecto-1 {
    background-image: url('images/google.jpg');
}
#proyecto-2 {
    background-image: url('images/landing.png');
}
#proyecto-3 {
    background-image: url('images/ecommerce.png');
}
.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}
